#minute (0-59)
#|      hour (0-23)
#|      |       day of the month (1-31)
#|      |       |       month of the year (1-12)
#|      |       |       |       day of the week (0-6 with 0=Sunday)
#|      |       |       |       |       commands

# wake up nautilus every morning at 6:20
20      6       *       *       *       root /usr/sbin/wol -i 192.168.1.255 -p 9 24:4B:FE:79:3E:B7

